
{% extends "layout/basic.html" %}
{% block title %} {{ currunt_rubric.name }} {% endblock %}
{% block content %}
    <h2>Рубрика: {{current_rubric.name}}</h2>
    <div>
        <a href="{% url 'index'%}">Главная</a>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}} </a>
        
        {% endfor%}
        <a href="{% url 'add' %}">Добавить</a>
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.pablished|date:"d.m.Y H:i:s"}}</p>
    </div>
    {% endfor %}
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>

<body>
    <h1>Объявления</h1>
    <h2>Рубрика: {{current_rubric.name}}</h2>
    <div>
        <a href="{% url 'index'%}">Главная</a>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}} </a>
        
        {% endfor%}
        <a href="{% url 'add' %}">Добавить</a>
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.pablished|date:"d.m.Y H:i:s"}}</p>
    </div>
    {% endfor %}
</body>
</html> -->